<style>

	.anchor-wrap {
	color: #7f9eff;
	}
	.anchor-wrap a {
	color: currentColor;
	font-family: arial, sans-serif;
	text-decoration: none;
    font-size: 1.05em;
    line-height: 1.4em;
	margin: 1.1em;
	}

    span.set-2 {
    	color: #2186f5;
    }

    span.set-3 {
    	color: #0055b3
    }

     a:visited {
		color: #022aa7;

	}


	span.pipe {
	color: #3f3f3f;
	font-size: 2em;
    line-height: 0;
    vertical-align: -0.2em;	}

</style>

<div class="anchor-wrap">
<a href="https://democrat.work"> democrat.work </a>
<a href="https://democrat.codes"> democrat.codes </a>
<a href="https://democrat.download"> democrat.download </a>
<a href="https://democrat.healthcare"> democrat.healthcare </a>
<a href="https://democrat.hosting"> democrat.hosting </a>
<a href="https://democrat.software"> democrat.software </a>
<a href="https://democracy.fyi"> democracy.fyi </a>
<a href="https://democratic.technology"> democratic.technology </a>

<span class="pipe">|</span>

<span class="set-2">
<a href="https://liberalism.faith"> liberalism.faith </a>
<a href="http://liberalism.flowers"> liberalism.flowers </a>
<a href="https://liberalism.run"> liberalism.run </a>
<a href="https://liberalism.win"> liberalism.win </a>
<a href="https://nation.codes"> nation.codes </a>
<a href="http://nation.computer"> nation.computer </a>
<a href="https://nation.land"> nation.land </a>
<a href="http://nation.technology"> nation.technology </a>
<a href="https://union.democrat"> union.democrat </a>
<a href="https://value.democrat"> value.democrat </a>
<a href="https://weare.democrat"> weare.democrat </a>
<a href="https://workers.democrat"> workers.democrat </a></span>

<span class="pipe">|</span>

<span class="set-3">
<a href="https://elizabeth.democrat"> elizabeth.democrat </a>
<a href="https://warren.democrat"> warren.democrat </a>
<a href="https://leahy.democrat"> leahy.democrat </a>
<a href="https://bernie.science"> bernie.science </a>
<a href="https://sanders.party"> sanders.party </a></span>

</div>