Home

<style>
	.elizabeth-warren-icon {
	position: absolute;
    width: 10%;
    left: 83%;
    background-color: #779ff9;
    border-radius: 33%;
    border: 15px solid #ffffff;
    border-style: double;

	}

</style>

<br>
<br>
<a href="https://www.warren.senate.gov/" title="Elizabeth Warren U.S. Senate Site"> senate.gov </a><br><br>
<a href="https://www.youtube.com/user/senelizabethwarren" title="Elizabeth Warren on You Tube"> Elizabeth Warren Channel: YouTube</a><br><br>
<a href="https://twitter.com/senwarren" title="Elizabeth Warren | twitter | @senwarren">@senwarren : twitter</a><br><br>
<a href="http://www.elizabethwarren.com/stop-trump" > elizabethwarren.com: political website</a><br><br>
<a href="http://www.consumerfinance.gov/" title="Consumer Financial Protection Bureau">CFPB: Consumer Financial Protection Bureau</a><br><br>
<a href="http://hls.harvard.edu/faculty/directory/10935/Warren">Harvard Faculty site</a><br><br>
<a href="http://elizabethwarrenwiki.org/" title="Elizabeth Warren Wikipedia">Wiki</a><br><br>
<a href="http://www.nytimes.com/topic/person/elizabeth-warren" title="Elizabeth Warren in the New York Times">New York Times</a><br>

<div id="carsonHearing" class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ihsF-bltgTU?rel=0" frameborder="0" allowfullscreen></iframe></div>

<object data="svg/warren.svg" class="elizabeth-warren-icon" title="Elizabeth Warren icon | likeness" type=""></object>
<br>
<h1> 2017 | Presidential Conflicts of Interest Act </h2>

<a href="https://en.wikipedia.org/wiki/Presidential_Conflicts_of_Interest_Act">Presidential Conflicts of Interest Act (wikipedia)</a>
<br>



<a href="http://www.bostonmagazine.com/news/blog/2017/01/09/elizabeth-warren-presidential-conflicts-of-interest/">Presidential Conflicts of Interest Act (bostonmagazine.com | 2017-1-9)</a>
