<html>
<head>
	<title></title>
</head>
<body>
<p>News:</p>

<h3>to come:<br />
<br />
see:</h3>

<p><a href="https://www.youtube.com/user/senelizabethwarren">Elizabeth Warren Channel: YouTube</a><br />
<br />
<a href="https://twitter.com/senwarren">@senwarren : twitter</a><br />
<br />
<a href="http://www.nytimes.com/topic/person/elizabeth-warren">New York Times</a></p>

<p></p>

<p></p>

<h1>2017 | Presidential Conflicts of Interest Act</h1>

<p>notes: &nbsp;session 1 - 115th US Congress &nbsp;Elizabeth Warren and 20 other Senators present the bill. (2017-1-9)</p>

<p>H.R.371 is&nbsp;introduced by Rep Katherine Clark</p>

<p><a href="https://en.wikipedia.org/wiki/Presidential_Conflicts_of_Interest_Act">Presidential Conflicts of Interest Act (wikipedia)</a><br />
<a href="http://www.bostonmagazine.com/news/blog/2017/01/09/elizabeth-warren-presidential-conflicts-of-interest/">Presidential Conflicts of Interest Act (bostonmagazine.com | 2017-1-9)</a></p>

<p></p>

<p></p>
</body>
</html>